*{
    box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body{
    background: rgb(0,133,193);
    background: radial-gradient(circle, rgba(0,133,193,1) 0%, rgba(101,208,255,1) 100%);
    font-family: 'Open Sans', sans-serif;
}
.form-group{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #bbeaff;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    border-radius: 9px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.container tr{
    align-items: center;
}
#username{
    border-radius: 4px;
}
#password{
    border-radius: 4px;
}
#elmUsernameError{
    color: red;
}
#elmPasswordError{
    color: red;
}
#elmTypeError{
    color: red;
}
#elmAttempts{
    color: red;
    font-weight: bold;
}
.footer{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}